.metadata
*.pyc
*.class
*.elc
*~
/build
/dist
.tox
.cache
/.coverage
/coverage.xml
.pytest_cache
/.idea/shelf
/pycharm/out
/.idea/workspace.xml
/.idea/dictionaries/
/pycharm/livepy.jar
/plugin/PySrc/space_tracer.egg-info
