<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.python.pydev.pydev_pyedit_listener">
      <pyedit_listener_participant
            class="live_py.PyEditDecorator">
      </pyedit_listener_participant>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.python.pydev"
            class="live_py.LiveCanvasView"
            icon="icons/turtle.png"
            id="com.github.donkirkby.live-canvas"
            name="Live Coding Canvas"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="Enable or disable a display of program state that updates while you type."
            id="live-py.enable.actionset"
            label="Live Coding"
            visible="true">
         <action
               class="live_py.PlayAction"
               id="live-py.play.action"
               toolbarPath="pyDebugGroup"
               icon="icons/media-play-3x.png"
               tooltip="Start live coding">
         </action>
         <action
               class="live_py.StopAction"
               id="live-py.stop.action"
               toolbarPath="pyDebugGroup"
               icon="icons/media-stop-3x.png"
               tooltip="Stop live coding">
         </action>
      </actionSet>
   </extension>

</plugin>
