<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.python.pydev.pydev_pyedit_listener">
      <pyedit_listener_participant
            class="live_py.PyEditDecorator">
      </pyedit_listener_participant>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="live-py.commands.category"
            name="Live Coding">
      </category>
      <command
            categoryId="live-py.commands.category"
            id="live-py.commands.start"
            name="Start Live Coding">
      </command>
      <command
            categoryId="live-py.commands.category"
            id="live-py.commands.turtle"
            name="Start Live Turtle">
      </command>
      <command
            categoryId="live-py.commands.category"
            id="live-py.commands.stop"
            name="Stop Live Coding">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="live_py.StartHandler"
            commandId="live-py.commands.start">
        <activeWhen>
            <with variable="activeEditorId">
               <equals value="org.python.pydev.editor.PythonEditor"/>
            </with>
        </activeWhen>
      </handler>
      <handler
            class="live_py.TurtleHandler"
            commandId="live-py.commands.turtle">
        <activeWhen>
            <with variable="activeEditorId">
               <equals value="org.python.pydev.editor.PythonEditor"/>
            </with>
        </activeWhen>
      </handler>
      <handler
            class="live_py.StopHandler"
            commandId="live-py.commands.stop">
        <activeWhen>
            <with variable="activeEditorId">
               <equals value="org.python.pydev.editor.PythonEditor"/>
            </with>
        </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="live-py.commands.start"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+F11"><!-- Alt+F11 -->
      </key>
      <key
            commandId="live-py.commands.turtle"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+F12"><!-- Alt+F12 -->
      </key>
      <key
            commandId="live-py.commands.stop"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+F11"><!-- Shift+F11 -->
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="live-py.menus.main"
               label="Live Coding"
               mnemonic="L">
            <command
                  commandId="live-py.commands.start"
                  id="live-py.menus.start"
                  mnemonic="A">
            </command>
            <command
                  commandId="live-py.commands.turtle"
                  id="live-py.menus.turtle"
                  mnemonic="U">
            </command>
            <command
                  commandId="live-py.commands.stop"
                  id="live-py.menus.stop"
                  mnemonic="O">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="live-py.toolbars.main">
            <command
                  commandId="live-py.commands.start"
                  icon="icons/media-play-3x.png"
                  id="live-py.toolbars.start"
                  tooltip="Start Live Coding">
            </command>
            <command
                  commandId="live-py.commands.turtle"
                  icon="icons/turtle.png"
                  id="live-py.toolbars.turtle"
                  tooltip="Start Live Turtle">
            </command>
            <command
                  commandId="live-py.commands.stop"
                  icon="icons/media-stop-3x.png"
                  id="live-py.toolbars.stop"
                  tooltip="Stop Live Coding">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
   </extension>
</plugin>
